body {
    color: #606c71;
}
a {
  color: #1e6bb8;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#pasteResult {
    width: 100%;
    margin: 16px;
}

#selectionResult {
    width: 100%;
    margin: 16px;
}

#drop_zone {
    width: 100%;
    height: 64px;
    margin: auto;
    border: 1px dotted #606c71;
    line-height: 64px;
    text-align: center;
}
#drop_list {
    width: 100%;
    margin: 10px;
    display: block;
}
#dropResult {
	width: 100%;
    margin: 16px;
}