body {
    color: #404040;
    text-shadow:1px 1px 1px 1px rgba(0,0,0,0.005);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}
a {
  color: #1e6bb8;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#git_mark {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 0.8;
}


#pasteResult {
    width: 100%;
    margin: 16px;
}

#selectionResult {
    width: 100%;
    margin: 16px;
}

#drop_zone {
    width: 100%;
    height: 64px;
    margin: auto;
    border: 1px dotted #606c71;
    line-height: 64px;
    text-align: center;
}
#drop_list {
    width: 100%;
    margin: 10px;
    display: block;
}
#dropResult {
	width: 100%;
    margin: 16px;
}
